# Chapter 6 Data Loading, Storage, and File Formats

Accessing data is a necessary first step for most data science projects. From this chapter we will learn:
- Reading and writing data in text format (.txt, .csv, .json)
- Reading data from webpages (data scrapping)
- Reading and writing data in binary format (.pickle, .feather, .h5)
- Interacting with databases

## I. Reading and Writing Data in Text Format

### 1. csv file

In [7]:
# Let's create a data frame first
import numpy as np
import pandas as pd

values = np.array([
    [100, 80, 95, 'A'],
    [55, 60, 45, 'F'],
    [70, 75, 90, 'A'],
    [75, 70, 60, 'D'],
    [60, 73, 75, 'C'],
    [72, 63, -1, 'NA']
])
df = pd.DataFrame(values,
                   columns=['Midterm', 'Project', 'Final', 'LetterGrade'],
                   index=['Alex', 'Bob', 'Chris', 'Doug', 'Eva', "Frank"])
df

      Midterm Project Final LetterGrade
Alex      100      80    95           A
Bob        55      60    45           F
Chris      70      75    90           A
Doug       75      70    60           D
Eva        60      73    75           C
Frank      72      63    -1          NA

In [12]:
# Write to a csv file using .to_csv()
# import os
# print('Does path "Data/temp/" exist?', os.path.exists("Data/temp/"))

# if not os.path.exists("Data/temp/"):
#     os.mkdir("Data/temp")
#     print('File path "Data/temp/" created.')

df.to_csv("Data/temp/grades.csv")

Does path "Data/temp/" exist? True

In [13]:
# Load the csv file
df2 = pd.read_csv("Data/temp/grades.csv", delimiter=',')
df2

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1        Bob       55       60     45           F
2      Chris       70       75     90           A
3       Doug       75       70     60           D
4        Eva       60       73     75           C
5      Frank       72       63     -1         NaN

In [14]:
# Load only the first 3 rows
df3 = pd.read_csv("Data/temp/grades.csv", delimiter=',', nrows=3)
df3

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1        Bob       55       60     45           F
2      Chris       70       75     90           A

In [15]:
# Load the file, skipping row 2 and 4
df4 = pd.read_csv("Data/temp/grades.csv", delimiter=',', skiprows=[2, 4])
df4

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1      Chris       70       75     90           A
2        Eva       60       73     75           C
3      Frank       72       63     -1         NaN

In [16]:
# Remove column headers from the csv file, then load it
df5 = pd.read_csv("Data/temp/grades.csv", delimiter=',', header=None, names=[1, 2, 3, 4, 5])
df5

       1        2        3      4            5
0    NaN  Midterm  Project  Final  LetterGrade
1   Alex      100       80     95            A
2    Bob       55       60     45            F
3  Chris       70       75     90            A
4   Doug       75       70     60            D
5    Eva       60       73     75            C
6  Frank       72       63     -1          NaN

In [17]:
# Set first column as index
df6 = pd.read_csv("Data/temp/grades.csv", delimiter=',', index_col=0)
df6

       Midterm  Project  Final LetterGrade
Alex       100       80     95           A
Bob         55       60     45           F
Chris       70       75     90           A
Doug        75       70     60           D
Eva         60       73     75           C
Frank       72       63     -1         NaN

In [18]:
# Identify -1 as NaN
df7 = pd.read_csv("Data/temp/grades.csv", delimiter=',', na_values=[-1])
df7

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80   95.0           A
1        Bob       55       60   45.0           F
2      Chris       70       75   90.0           A
3       Doug       75       70   60.0           D
4        Eva       60       73   75.0           C
5      Frank       72       63    NaN         NaN

### 2. Load txt file with values separated by spaces

In [19]:
with open("Data/temp/values.txt", 'w') as file:
    file.write("Index Category     Value\n")
    file.write("1            A      2.92\n")
    file.write("2            B     12.14\n")
    file.write("3            C    123.56\n")

In [20]:
df = pd.read_csv("Data/temp/values.txt", delimiter="\s+")
df

   Index Category   Value
0      1        A    2.92
1      2        B   12.14
2      3        C  123.56

### 3. Load JSON files

**JavaScript Object Notation (JSON)** is a popular file format to storing unstructured data because it is easy for both human and computer to understand.
- Its structure is very similar to Python dictionary
- Load a json file with json.leads()
- Writes to a json file with json.dump()

In [21]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [22]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [23]:
asjson = json.dumps(result)

In [24]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

## II. Web Scrapping
When performing data science tasks, it's common to want to use data found on the internet. You'll usually be able to access the data in csv format, or via an Application Programming Interface (API). However, there are times when the data you want can only be accessed as part of a web page. In cases like this, you'll want to use a technique called **web scraping** to get the data from the web page into a format you can work with in your analysis.

In [25]:
# Download a webpage
import requests
page = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
page #2** status code usually means successful download

In [26]:
# Show what is downloaded
print(page.content)

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

We will use **beautifulsoup** library to extract useful information from the html script.

In [27]:
from bs4 import BeautifulSoup

In [28]:
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [29]:
# using the children attribute to select all the top-level tags
list(soup.children)

['html', '\n', <html>
 <head>
 <title>A simple example page</title>
 </head>
 <body>
 <p>Here is some simple content for this page.</p>
 </body>
 </html>]

In [30]:
# type of each children
print([type(item) for item in list(soup.children)])

[<class 'bs4.element.Doctype'>, <class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>]

In [31]:
# select the html tag and its children by taking the third item in the list:
html = list(soup.children)[2]

In [32]:
list(html.children)

['\n', <head>
 <title>A simple example page</title>
 </head>, '\n', <body>
 <p>Here is some simple content for this page.</p>
 </body>, '\n']

In [33]:
body = list(html.children)[3]

In [34]:
print(list(body.children))

['\n', <p>Here is some simple content for this page.</p>, '\n']

In [35]:
p = list(body.children)[1]

In [36]:
p.get_text()

'Here is some simple content for this page.'

#### FInding all instances of a tag at once

In [37]:
soup = BeautifulSoup(page.content, 'html.parser')
soup.find_all('p')

In [38]:
soup.find_all('p')[0].get_text()

'Here is some simple content for this page.'

In [39]:
# Find the first instance of a tag
soup.find('p')

#### Searching for tags by class and id

In [40]:
# Let's look at another webpage with classes and id's
page = requests.get("http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
soup = BeautifulSoup(page.content, 'html.parser')
soup

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>
</html>

In [41]:
# Find all tags of a class
soup.find_all(class_="outer-text")

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [42]:
soup.find_all(id="first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

#### Downloading the weather data
1. Open weather forecast page
2. Display the source code (On Chrome use "Developer Tools")
3. Identify the item containing data (On Chrome right click the values and select "Inspect")

In [43]:
page = requests.get("https://forecast.weather.gov/MapClick.php?lat=40.7146&lon=-74.0071#.Xbc5aXVKhhE")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
forecast_items = seven_day.find_all(class_="tombstone-container")
tonight = forecast_items[0]
print(tonight.prettify())

<div class="tombstone-container">
 <p class="period-name">
  This
  <br/>
  Afternoon
 </p>
 <p>
  <img alt="This Afternoon: Areas of drizzle with a chance of light rain.  Cloudy, with a high near 65. Northeast wind around 7 mph. " class="forecast-icon" src="newimages/medium/ra40.png" title="This Afternoon: Areas of drizzle with a chance of light rain.  Cloudy, with a high near 65. Northeast wind around 7 mph. "/>
 </p>
 <p class="short-desc">
  Chance Light
  <br/>
  Rain
 </p>
 <p class="temp temp-high">
  High: 65 °F
 </p>
</div>

In [44]:
# Find today's weather
period = tonight.find(class_="period-name").get_text()
short_desc = tonight.find(class_="short-desc").get_text()
temp = tonight.find(class_="temp").get_text()
print(period)
print(short_desc)
print(temp)

ThisAfternoon
Chance LightRain
High: 65 °F

In [45]:
# Find weather forecast for the week
period_tags = seven_day.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]
periods

['ThisAfternoon',
 'Tonight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday']

In [46]:
short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]
print(short_descs)
print(temps)
print(descs)

['Chance LightRain', 'ShowersLikely', 'Showers andPatchy Fog', 'Breezy.ShowersLikely thenShowers', 'Breezy.Showers thenSunny', 'Mostly Clear', 'Sunny', 'Mostly Clear', 'Sunny thenSunny andBreezy']
['High: 65 °F', 'Low: 60 °F', 'High: 71 °F', 'Low: 51 °F', 'High: 58 °F', 'Low: 40 °F', 'High: 56 °F', 'Low: 42 °F', 'High: 56 °F']
['This Afternoon: Areas of drizzle with a chance of light rain.  Cloudy, with a high near 65. Northeast wind around 7 mph. ', 'Tonight: Areas of drizzle with a chance of light rain before 7pm, then showers likely, mainly after 1am.  Cloudy, with a low around 60. Southeast wind 6 to 9 mph becoming south after midnight.  Chance of precipitation is 70%. New precipitation amounts between a tenth and quarter of an inch possible. ', 'Thursday: Showers.  Patchy fog. High near 71. South wind 7 to 16 mph.  Chance of precipitation is 90%. New precipitation amounts between a quarter and half of an inch possible. ', 'Thursday Night: Showers likely, then showers and possibly a thunderstorm after 3am.  Low around 51. Breezy, with a south wind 20 to 24 mph, with gusts as high as 37 mph.  Chance of precipitation is 90%. New rainfall amounts between a quarter and half of an inch possible. ', 'Friday: Showers and possibly a thunderstorm before 7am, then a chance of showers between 7am and 9am.  High near 58. Breezy, with a west wind 20 to 22 mph, with gusts as high as 37 mph.  Chance of precipitation is 80%. New precipitation amounts between a tenth and quarter of an inch, except higher amounts possible in thunderstorms. ', 'Friday Night: Mostly clear, with a low around 40.', 'Saturday: Sunny, with a high near 56.', 'Saturday Night: Mostly clear, with a low around 42.', 'Sunday: Sunny, with a high near 56. Breezy. ']

In [47]:
# Load the weather data as a data frame
import pandas as pd
weather = pd.DataFrame({
    "period": periods,
    "short_desc": short_descs,
    "temp": temps,
    "desc":descs
})
weather

,period,short_desc,temp,desc
0,ThisAfternoon,Chance LightRain,High: 65 °F,This Afternoon: Areas of drizzle with a chance...
1,Tonight,ShowersLikely,Low: 60 °F,Tonight: Areas of drizzle with a chance of lig...
2,Thursday,Showers andPatchy Fog,High: 71 °F,Thursday: Showers. Patchy fog. High near 71. ...
3,ThursdayNight,Breezy.ShowersLikely thenShowers,Low: 51 °F,"Thursday Night: Showers likely, then showers a..."
4,Friday,Breezy.Showers thenSunny,High: 58 °F,Friday: Showers and possibly a thunderstorm be...
5,FridayNight,Mostly Clear,Low: 40 °F,"Friday Night: Mostly clear, with a low around 40."
6,Saturday,Sunny,High: 56 °F,"Saturday: Sunny, with a high near 56."
7,SaturdayNight,Mostly Clear,Low: 42 °F,"Saturday Night: Mostly clear, with a low aroun..."
8,Sunday,Sunny thenSunny andBreezy,High: 56 °F,"Sunday: Sunny, with a high near 56. Breezy."

In [48]:
# extract numeric temperature
temp_nums = weather["temp"].str.extract("(?P<temp_num>\d+)", expand=False)
weather["temp_num"] = temp_nums.astype('int')
temp_nums

0    65
1    60
2    71
3    51
4    58
5    40
6    56
7    42
8    56
Name: temp_num, dtype: object

In [49]:
# Identify day temperature from night temperature
is_night = weather["temp"].str.contains("Low")
weather["is_night"] = is_night
is_night

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8    False
Name: temp, dtype: bool

In [50]:
weather[is_night]

,period,short_desc,temp,desc,temp_num,is_night
1,Tonight,ShowersLikely,Low: 60 °F,Tonight: Areas of drizzle with a chance of lig...,60,True
3,ThursdayNight,Breezy.ShowersLikely thenShowers,Low: 51 °F,"Thursday Night: Showers likely, then showers a...",51,True
5,FridayNight,Mostly Clear,Low: 40 °F,"Friday Night: Mostly clear, with a low around 40.",40,True
7,SaturdayNight,Mostly Clear,Low: 42 °F,"Saturday Night: Mostly clear, with a low aroun...",42,True